<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.colgportal" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/main_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user_account"
            android:label="@string/title_activity_user_account" >
        </activity>
        <activity
            android:name=".login_activity"
            android:label="@string/title_activity_login_activity" >
        </activity>
        <activity
            android:name=".CreateAccount"
            android:label="@string/title_activity_create_account" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".colg_list"
            android:label="@string/title_activity_colg_list" >
        </activity>
        <activity
            android:name=".ColgDetails"
            android:label="@string/title_activity_colg_details" >
        </activity>
        <activity
            android:name=".Sell"
            android:label="@string/title_activity_sell" >
        </activity>
        <activity
            android:name=".Books"
            android:label="@string/title_activity_books" >
        </activity>
        <activity
            android:name=".Buy"
            android:label="@string/title_activity_buy" >
        </activity>
        <activity
            android:name=".Books_buy_list"
            android:label="@string/title_activity_books_buy_list" >
        </activity>
        <activity
            android:name=".OnSale"
            android:label="@string/title_activity_on_sale" >
        </activity>
        <activity
            android:name=".user_profile"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name=".CarBike"
            android:label="@string/title_activity_activity_car_bike" >
        </activity>
        <activity android:name=".CarBikeBuy" >
        </activity>
        <activity android:name=".PlacesDetailShow" >
        </activity>
    </application>

</manifest>
